
KataLeapYear/.vs/KataLeapYear/v16/.suo

KataLeapYear/KataLeapYear.sln.DotSettings.user

KataLeapYear/KataLeapYear/bin/Debug/netcoreapp3.1/cs/

KataLeapYear/KataLeapYear/bin/Debug/netcoreapp3.1/de/

KataLeapYear/KataLeapYear/bin/Debug/netcoreapp3.1/es/

KataLeapYear/KataLeapYear/bin/Debug/netcoreapp3.1/fr/

KataLeapYear/KataLeapYear/bin/Debug/netcoreapp3.1/it/

KataLeapYear/KataLeapYear/bin/Debug/netcoreapp3.1/ja/

KataLeapYear/KataLeapYear/bin/Debug/netcoreapp3.1/

KataLeapYear/KataLeapYear/obj/Debug/netcoreapp3.1/

KataLeapYear/KataLeapYear/obj/

KataLeapYear/.vs/KataLeapYear/DesignTimeBuild/.dtbcache.v2
